---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  interval: 15m
  chart:
    spec:
      chart: jellyfin
      version: 22.2.23
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TIMEZONE}

    credentials:
      s3:
        type: s3
        url: ${S3_URL}
        bucket: "${S3_BUCKET}-{{ .Release.Name }}"
        accessKey: ${S3_accessKey}
        secretKey: ${S3_secretKey}
        encrKey: ${S3_secretKey}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          homepage:
            enabled: true
            group: Media Server
            widget:
              custom:
                key: "${JELLYFIN_KEY}"
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-1-le-prod
        hosts:
          - host: jellyfin.${DOMAIN_1}

    persistence:
      config:
        volsync:
          - name: r2
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 30 0 * * *
      data:
        volsync:
          - name: r2
            type: restic
            credentials: s3
            dest:
              enabled: false
            src:
              enabled: true
              trigger:
                schedule: 30 0 * * *
      media:
        enabled: true
        type: nfs
        mountPath: /media
        server: ${NAS_IP}
        path: /mnt/tank/media

    resources:
      requests:
        cpu: 25m
      limits:
        cpu: 2000m
        memory: 3Gi
        gpu.intel.com/i915: 1
