---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kromgo
  namespace: kromgo
spec:
  interval: 15m
  chart:
    spec:
      chart: kromgo
      version: 1.2.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TIMEZONE}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 404"]
        integrations:
          homepage:
            enabled: true
            group: Monitoring
          certManager:
            enabled: true
            certificateIssuer: domain-1-le-prod
        hosts:
          - host: "{{ .Release.Name }}.${DOMAIN_1}"

    kromgo:
      badge:
        font: Verdana.ttf  # Relative to /kromgo - Verdana.ttf is available in the container
        size: 12
      metrics:
        - name: talos_version
          query: label_replace(node_os_info{name="Talos"}, "version_id", "$1", "version_id", "v(.+)")
          label: version_id
          title: Talos

        - name: kubernetes_version
          query: label_replace(kubernetes_build_info{service="kubernetes"}, "git_version", "$1", "git_version", "v(.+)")
          label: git_version
          title: Kubernetes

        - name: flux_version
          query: label_replace(gotk_resource_info{exported_namespace="flux-system",name="flux",customresource_kind="Kustomization"}, "revision", "$1", "revision", "v(.+)@sha256:.+")
          label: revision
          title: Flux

        - name: homelab_power
          query: round(hass_sensor_power_w{domain="sensor",entity="sensor.0x8c65a3fffe10bcad_power"}, 0.1)
          suffix: "w"
          title: Power

    resources:
      requests:
        cpu: 25m