---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyseerr
  namespace: jellyseerr
spec:
  interval: 15m
  chart:
    spec:
      chart: jellyseerr
      version: 13.17.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TIMEZONE}

    credentials:
      s3:
        type: s3
        url: ${S3_URL}
        bucket: "${S3_BUCKET}-{{ .Release.Name }}"
        accessKey: ${S3_accessKey}
        secretKey: ${S3_secretKey}
        encrKey: ${S3_encrKey}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-1-le-prod
          homepage:
            enabled: true
            group: "Media Manager"
            widget:
              custom:
                key: ${JELLYSEERR_KEY}
        hosts:
          - host: jellyseerr.${DOMAIN_1}

    persistence:
      config:
        volsync:
          - name: r2
            type: restic
            credentials: s3
            dest:
              enabled: false
            src:
              enabled: true
              trigger:
                schedule: "0 2 * * *"

    resources:
      requests:
        cpu: 25m
