---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpackerr
  namespace: unpackerr
spec:
  interval: 15m
  chart:
    spec:
      chart: unpackerr
      version: 16.13.15
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TIMEZONE}

    persistence:
      media:
        enabled: true
        type: nfs
        mountPath: /media
        server: ${NAS_IP}
        path: /mnt/tank/media

    workload:
      main:
        podSpec:
          containers:
            main:
              advanced: false
              envList:
                - name: UN_RADARR_0_URL
                  value: http://radarr.radarr.svc.cluster.local:7878
                - name: UN_RADARR_0_API_KEY
                  value: ${RADARR_KEY}
                - name: UN_SONARR_0_URL
                  value: http://sonarr.sonarr.svc.cluster.local:8989
                - name: UN_SONARR_0_API_KEY
                  value: ${SONARR_KEY}
                - name: UN_SONARR_1_URL
                  value: http://sonarr-anime.sonarr-anime.svc.cluster.local:8989
                - name: UN_SONARR_1_API_KEY
                  value: ${SONARR_ANIME_KEY}

    resources:
      requests:
        cpu: 25m
