---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
  namespace: radarr
spec:
  interval: 15m
  chart:
    spec:
      chart: radarr
      version: 26.3.21
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TIMEZONE}

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: "Media Manager"
            widget:
              custom:
                key: "${RADARR_KEY}"
        hosts:
          - host: radarr.${DOMAIN_0}

    persistence:
        media:
            enabled: true
            type: nfs
            mountPath: /media
            server: ${NAS_IP}
            path: /mnt/tank/media
        backup:
            enabled: true
            type: nfs
            mountPath: /config/Backups
            server: ${NAS_IP}
            path: /mnt/tank/backups/applications/radarr

    resources:
      requests:
        cpu: 25m
