# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  interval: 15m
  chart:
    spec:
      chart: nextcloud
      version: 40.6.13
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    credentials:
      s3:
        type: s3
        url: ${S3_URL}
        bucket: "${S3_BUCKET}-nextcloud"
        accessKey: ${S3_accessKey}
        secretKey: ${S3_secretKey}
        encrKey: ${S3_encrKey}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
          nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-1-le-prod
        hosts:
          - host: cloud.${DOMAIN_1}
            paths:
              - path: /
                pathType: Prefix

    files:
      max_chunk_size: 100000000

    nextcloud:
      general:
        default_phone_region: FR
        accessIP: ${NGINX_EXTERNAL_IP}
      previews:
        providers:
          - BMP
          - GIF
          - JPEG
          - MarkDown
          - MP3
          - OpenDocument
          - PNG
          - TXT
      clamav:
        enabled: true
      collabora:
        enabled: true
        password: ${ADMIN_PASSWORD}
        dictionaries:
          - en_GB
          - en_US
          - es_ES
          - fr_FR
      
      php:
        memory_limit: 2G

    persistence:
      config:
        volsync:
          - name: r2
            type: restic
            credentials: s3
            dest:
              enabled: false
            src:
              enabled: true
              trigger:
                schedule: "0 2 * * *"
      html:
        volsync:
          - name: r2
            type: restic
            credentials: s3
            dest:
              enabled: false
            src:
              enabled: true
              trigger:
                schedule: "0 2 * * *"
      data:
        type: nfs
        server: ${NAS_IP}
        path: /mnt/tank/ncdata

    cnpg:
      main:
        cluster:
          singleNode: true
        backups:
          enabled: true
          credentials: s3
          retentionPolicy: "7d"
          scheduledBackups:
            - name: daily-backup
              schedule: "0 3 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
