---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ytptube
  namespace: ytptube
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.24.29
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:

    image:
      repository: ghcr.io/arabcoders/ytptube
      pullPolicy: IfNotPresent
      tag: v1.0.2@sha256:2382feaf3edfac37b44736df26c6f4758acc8107b11553253637e19378b28d01

    TZ: ${TIMEZONE}

    credentials:
      s3:
        type: s3
        url: ${S3_URL}
        bucket: "${S3_BUCKET}-{{ .Release.Name }}"
        accessKey: ${S3_accessKey}
        secretKey: ${S3_secretKey}
        encrKey: ${S3_encrKey}

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          nginx:
              enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: ytptube.${DOMAIN_0}

    service:
      main:
        ports:
          main:
            port: 8081

    persistence:
      config:
        enabled: true
        mountPath: /config
        volsync:
          - name: r2
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
      downloads:
        enabled: true
        type: nfs
        mountPath: /downloads
        server: ${NAS_IP}
        path: /mnt/tank/media/downloads/torrent/complete/music
    
    redis:
      enabled: false
    cnpg:
      main:
        enabled: false