# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: homepage
spec:
  interval: 15m
  chart:
    spec:
      chart: homepage

      version: 11.19.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    credentials:
      s3:
        type: s3
        url: ${S3_URL}
        bucket: "${S3_BUCKET}-{{ .Release.Name }}"
        accessKey: ${S3_accessKey}
        secretKey: ${S3_secretKey}
        encrKey: ${S3_secretKey}

    workload:
      main:
        podSpec:
          automountServiceAccountToken: true
          containers:
            main:
              env:
                HOMEPAGE_ALLOWED_HOSTS: "home.${DOMAIN_0}"

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: home.${DOMAIN_0}

    persistence:
      config:
        volsync:
          - name: r2
            type: restic
            credentials: s3
            dest: #VolSync Destination (Restore)
              enabled: false
            src: #VolSync Source (Backup)
              enabled: true

    addons:
      codeserver:
        enabled: true
        ingress:
          enabled: true
          ingressClassName: internal
          integrations:
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
          hosts:
            - host: code.home.${DOMAIN_0}
