apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-configfile
  namespace: authelia
data:
  configuration.yaml: |
    session:
      inactivity: 30m
      cookies:
        - domain: ${DOMAIN}
          authelia_url: https://auth.${DOMAIN}
    authentication_backend:
      # lldap setup
      # https://github.com/lldap/lldap/blob/main/example_configs/authelia_config.yml
      ldap:
        implementation: lldap
        address: ldap://lldap-ldap.lldap.svc.cluster.local:3890
        base_dn: dc=${DN},dc=${DC}
        user: uid=manager,ou=people,dc=${DN},dc=${DC}
        password: ${AUTHELIA_PASSWORD}
    notifier:
      smtp:
        address: submissions://${SMTP_HOST}:465
        username: ${SMTP_USER}
        password: ${SMTP_PASSWORD}
        sender: Authelia Admin <no-reply@${DOMAIN}>
        tls:
          server_name: ${SMTP_HOST}