---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: qbittorrent
spec:
  interval: 15m
  chart:
    spec:
      chart: qbittorrent
      version: 24.2.19
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TIMEZONE}

    credentials:
      s3:
        type: s3
        url: ${S3_URL}
        bucket: "${S3_BUCKET}-{{ .Release.Name }}"
        accessKey: ${S3_accessKey}
        secretKey: ${S3_secretKey}
        encrKey: ${S3_encrKey}

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: qbittorrent.${DOMAIN_0}

    persistence:
      vuetorrent:
        enabled: true
        type: nfs
        mountPath: /config/vuetorrent
        server: ${NAS_IP}
        path: /mnt/tank/apps-storage/VueTorrent
      media:
        enabled: true
        type: nfs
        mountPath: /media/downloads/torrent
        server: ${NAS_IP}
        path: /mnt/tank/media/downloads/torrent

    workload:
      qbitportforward:
        enabled: false

    addons:
      gluetun:
        enabled: true
        container:
          resources:
            limits:
              truecharts.org/tun: 1
          env:
            FIREWALL: "on"
            FIREWALL_OUTBOUND_SUBNETS: "${LOCALNET}"
            VPN_SERVICE_PROVIDER: airvpn
            VPN_TYPE: wireguard
            HTTPPROXY: "on"
            HTTPPROXY_LOG: "on"
            FIREWALL_INPUT_PORTS: 10095,8888
            FIREWALL_VPN_INPUT_PORTS: ${VPN_PORTS}
            WIREGUARD_PRIVATE_KEY: ${WIREGUARD_PRIVATE_KEY}
            WIREGUARD_PRESHARED_KEY: ${WIREGUARD_PRESHARED_KEY}
            WIREGUARD_ADDRESSES: ${WIREGUARD_ADDRESSES}
            SERVER_COUNTRIES: ${SERVER_COUNTRIES}

    service:
      proxy:
        enabled: true
        ports:
          gluetun:
            enabled: true
            port: 8888
            protocol: "http"
            targetPort: 8888
        type: "ClusterIP"
