---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metube
  namespace: metube
spec:
  interval: 15m
  chart:
    spec:
      chart: metube
      version: 17.3.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    
    TZ: ${TIMEZONE}

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                STATE_DIR: "{{.Values.persistence.config.mountPath }}"
                DOWNLOAD_DIR: "{{.Values.persistence.downloads.mountPath }}"
                OUTPUT_TEMPLATE: "%(title)s.%(ext)s"
                YTDL_OPTIONS: "{}"

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: "Media Manager"
        hosts:
          - host: metube.${DOMAIN_0}

    persistence:
      downloads:
        enabled: true
        type: nfs
        mountPath: /downloads
        server: ${NAS_IP}
        path: /mnt/tank/media/downloads/metube/

    resources:
      requests:
        cpu: 25m
