---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: palworld
  namespace: palworld
spec:
  interval: 15m
  chart:
    spec:
      chart: palworld
      version: 6.17.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TIMEZONE}

    global:
      stopAll: true

    service:
      main:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: 192.168.1.60
        ports:
          main:
            protocol: udp
            port: 8211
      api:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: 192.168.1.60
        ports:
          api:
            enabled: true
            protocol: tcp
            port: 8212
      rcon:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: 192.168.1.60
        ports:
          rcon:
            enabled: true
            protocol: tcp
            port: 25575

    palworld:
      games:
        ServerName: "Palworld with the boys"
        ServerDescription: "A break from dog ass game throne and liberty"
        ServerPassword: "${PALWORLD_PASSWORD}"
        AdminPassword: "${ADMIN_PASSWORD}"
      update_public_ip: true

    workload:
      main:
        podSpec:
          initContainers:
            update-config-ini:
              enabled: false

    addons:
      codeserver:
        enabled: true
        ingress:
          enabled: true
          ingressClassName: internal
          integrations:
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
          hosts:
            - host: code.palworld.${DOMAIN_0}

    resources:
      limits:
        memory: 12Gi
