---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: romm
  namespace: romm
spec:
  interval: 15m
  chart:
    spec:
      chart: romm
      version: 14.28.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    
    TZ: ${TIMEZONE}

    credentials:
      s3:
        type: s3
        url: ${S3_URL}
        bucket: "${S3_BUCKET}-{{ .Release.Name }}"
        accessKey: ${S3_accessKey}
        secretKey: ${S3_secretKey}
        encrKey: ${S3_encrKey}
    
    image:
      repository: ghcr.io/rommapp/romm
      pullPolicy: IfNotPresent
      tag: 4.6.1@sha256:7f8b04e2e7652ae3121f19e712373bc021530b3c500e0c077c69a9cfe431395c

    service:
      main:
        type: ClusterIP
        ports:
          main:
            port: 8080

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
          nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
        integrations:
          homepage:
            enabled: true
            group: Games
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: romm.${DOMAIN_0}

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                IGDB_CLIENT_ID: "${ROMM_CLIENT_ID}"
                IGDB_CLIENT_SECRET: "${ROMM_CLIENT_SECRET}"
                HASHEOUS_API_ENABLED: true
                HLTB_API_ENABLED: true
                STEAMGRIDDB_API_KEY: "${STEAMGRIDDB_API_KEY}"
                RETROACHIEVEMENTS_API_KEY: "${RETROACHIEVEMENTS_API_KEY}"

    persistence:
      config:
        volsync:
          - name: r2
            type: restic
            credentials: s3
            dest:
              enabled: true
            src:
              enabled: true
      resources:
        enabled: true
        type: nfs
        mountPath: /romm/resources
        server: ${NAS_IP}
        path: /mnt/tank/apps-storage/romm/resources
      assets:
        enabled: true
        type: nfs
        mountPath: /romm/assets
        server: ${NAS_IP}
        path: /mnt/tank/apps-storage/romm/assets
      library:
        enabled: true
        type: nfs
        server: ${NAS_IP}
        path: /mnt/tank/games/emulator
        mountPath: /romm/library

    resources:
      requests:
        cpu: 25m